if SHIELD_COPYPASTE_LEFT

config ZMK_KEYBOARD_NAME
    default "CopyPaste"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_COPYPASTE_LEFT || SHIELD_COPYPASTE_RIGHT

config ZMK_SPLIT
    default y

endif